<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img-ik.cars.co.za/news-site-za/images/2019/06/Toyota-Camry-4.jpg);">
  <div class="container">
    <!-- <h1 style="color: #fff; text-align: center; padding-top: 120px;">Unleash Your Drive: Experience Power, Comfort, and Style with the Toyota Camry.</h1> -->
  </div>
</div>

<div class="container">
  <hr>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title" style="margin-bottom: 0;"><%= @car.make %> <%= @car.model %></h5>
    </div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Price per Day: $<%= @car.price_per_day %></h6>
      <p class="card-text">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula rutrum mauris, ac fermentum enim pretium in. Sed at libero vel arcu pharetra rutrum. Curabitur tincidunt magna id hendrerit commodo. Nam aliquam mauris ac nunc suscipit, sed viverra lectus aliquet. Nulla facilisi. Integer id luctus felis.</p>
      <div class="car-owner">
        <p class="card-text" style="margin-bottom: 0;">Car Owner: <%= @user.name.capitalize %></p>
        <a href="<%= new_car_booking_path(@car) %>" class="btn btn-flat">Rent Now</a>
      </div>
    </div>
  </div>
  <br>
  <a href="<%= cars_path %>" class="btn btn-primary">Back
